<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="stylesheets/style.css"> -->

<div class="container col-md-12" style="background-image: url(/images/flowerheader.jpg);height: 120px;">
    <hr class="solid">
    <div class="container" style="text-align: center;vertical-align: middle;">
        &copy; 2020 Shuwen Tan (8666293) & Li Deng (7092430)
    </div>
</div>