
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="container-fluid col-md-10">
    
    <nav class="navbar navbar-expand navbar-primary bg-light justify-content-left" style="margin-top: 1rem; margin-bottom: 1.5rem;"> 
      <ul class="navbar-nav" id="navId">
          <li class="nav-item col-4"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item col-4"><a href="/article/list" class="nav-link">Articles List</a></li>
          <li class="nav-item col-4"><a href="/article/create" class="nav-link">New Article</a></li>
          <li class="nav-item col-4"><a href="/article/header_update" class="nav-link">Edit Header</a></li>
          <li class="nav-item col-4"><a href="/users/logout" class="nav-link">Log Out</a></li>
      </ul>
    </nav>
  </div>




  