<style>
    a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#nav_dashboard {
  clear: both;
  border: 3px solid darkblue;
  border-radius: 10px;
}

#nav_dashboard ul {
  text-align: center;
  margin: 0;
}

#nav_dashboard ul li {
  display: inline-block;
  width: 130px;
}

#nav_dashboard ul li:hover {
  background-color: darkblue;
}

#nav_dashboard ul li a {
  font-weight: bold;
  display: block;
  padding: 10px 0;
  font-size: 110%;
}
</style>
<nav id="nav_dashboard">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/article/list">Articles List</a></li>
    <li><a href="/article/create">New Article</a></li>
    <li><a href="/article/header_update">Edit Header</a></li>
    <li><a href="/users/log_out">Log Out</a></li>
</ul>
</nav>