<!DOCTYPE html>
<html>
  <head>
    <title>Article delete</title>
    <link rel="icon" type="image/ico" href="images/icon.png">

  </head>
  <body>      
      <%- include('layouts/header'); -%>
      <%- include('layouts/nav_index'); -%>      

      <p><%= message %></p>
      <%- include('layouts/footer'); -%>

  </body>
</html>