<!DOCTYPE html>
<html>
  <head>
    <title>Article delete</title>
  </head>
  <body>      
      <%- include('layouts/header'); -%>
      <%- include('layouts/nav_index'); -%>      

      <p><%= message %></p>
  </body>
</html>