<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
  </head>
  <body>
      <%- include('layouts/header'); -%>
      <%- include('layouts/nav_dashboard'); -%>

      
  </body>
</html>
